<link rel="stylesheet" href="http://apskel.com/resources/agent/main.css" type="text/css" media="screen"/>	
<div id="agent_interface_view_wrapper" class="view_wrapper">
	<span id="title">{{title}}</span><br/><hr/>
	<div id="message_area" class="message_area">
		<span id="messages" class="messages">{{messages}}</span><br/>
		<span id="warnings" class="warnings">{{warnings}}</span><br/>
	</div>
	<br/>
	<div id="transcript_area">
	{{transcript}}
	<div>
	
	<input id="user_statement" class="input" value=""/><br/>
</div>
