<!-- Dialog for Actions Help -->
<div id="actions_help_dialog" class="web_dialog">
	A reaction's action sequence is a list of action commands that get performed, in order,
	when the reaction is chosen.  The following is a reference for available action commands.<br/>
	<br/>
	<ul>
		{{action_commands:action_command.html}}
	</ul>
	<br/>
	For example, presuming the [name] wildcard holds a name "Mike", the following would set the 
	memory "Mike is my friend":<br/>
	remember "[name] is my friend"
</div>


