<link rel="stylesheet" href="../resources/agent/jquery-ui/css/ui-lightness/jquery-ui-1.8.24.custom.css" type="text/css" media="screen"/>        
<script type="text/javascript" src="../resources/agent/jquery-ui/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="../resources/agent/jquery-ui/js/jquery-ui-1.8.24.custom.min.js"></script>
<link rel="stylesheet" href="../resources/agent/main.css" type="text/css" media="screen"/>
<div id="agent_edit_raw_wrapper" class="view_wrapper">
	{{=application_header.html}}
	<span id="download_title" class="minor_title">{{title}}</span>
	<hr/>
	{{=message_area.html}}
	<br/>
	<form method="post" action="import">
		<div id="code_area">
			<textarea id="script" name="script" class="script_textarea">{{script}}</textarea>
		<div>
		<input id="" type="reset" class="button" value="RESET"/> <input id="" type="submit" class="button" value="IMPORT"/><br/>
	</div>
	{{=application_footer.html}}
</div>

