<link rel="stylesheet" href="../resources/agent/jquery-ui/css/ui-lightness/jquery-ui-1.8.24.custom.css" type="text/css" media="screen"/>	
<script type="text/javascript" src="../resources/agent/jquery-ui/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="../resources/agent/jquery-ui/js/jquery-ui-1.8.24.custom.min.js"></script>
<link rel="stylesheet" href="../resources/agent/main.css" type="text/css" media="screen"/>	
<script type="text/javascript" src="../resources/agent/meanings.js"></script>
<div id="agent_editor_wrapper" class="view_wrapper">
	<span id="editor_title" class="major_title">Brain Editor</span>
	<span id="editor_title" class="minor_title">-- Meanings Directory --</span><br/>
	<br/>
	The meaning of a user statement is determined by which recognizer it first matches from top to bottom, as shown below.  Matched case and punctuation is also given priority.  Selecting a recognizer below will show possible reactions to the respective meaning. 
	<hr/>
	<div id="meaning_directory" class="">
		<table class="meaning_definitions">
			<tr><th class="left">Recognizer</td><th align="center">Paradigm</td></tr>
{{meanings:meaning.html}}
		</table>
	</div>
	<hr/>
	<div id="meanings_buttons" class="button_bar">
		
		<input type="button" class="button" id="new_meaning_button" class="button" value="New Meaning"/>
		<input type="button" class="button" id="save_meanings_button" class="button" value="Save Changes"/>
	</div>
	<hr/>
{{=shared_footer.html}}
</div>

<!-- Place to hold results from AJAX calls -->
<div id="ajax_return" class="ajax_return"></div>

<!-- Dialog to add new meaning -->
<div id="new_meaning_dialog" class="web_dialog">
	<br/>
	<form id="new_meaning_form" method="post" action="save_meaning">
		<table class="form_table">
			<tr><td><label for="Recognizer_new">recognizer:</label></td><td><input type="text" id="recognizer_new" name="recognizer" class="input" value=""/></td></tr>
			<tr><td><label for="paradigm_new">Paradigm:</label></td>
			<td>
			<select id="paradigm_new" name="paradigm">
				<option>natural</option>
				<option>cyclic</option>
				<option>random</option>
			</select>
			</td></tr>
		</table>
	</form>
</div>

