<link rel="stylesheet" href="{{@resource}}/main.css" type="text/css" media="screen"/>	
<div id="profile_view_wrapper" class="view_wrapper">
	{{=application_header.html}}
	<span id="minor_title">User Profile Editor</span><br/><hr/>
	{{=message_area.html}}
	<br/>
	<form id="profile_edit_form" method="post" action="{{@link}}/edit">
		<label for="user_name"  class="label">User Name: </label> <input name="user_name" id="user_name" class="input" value="{{user_name}}"/><br/>
		<label for="email"      class="label">Email:     </label> <input name="email"     id="email"     class="input" value="{{email}}" /><br/>
		<label for="forename"   class="label">Forename:  </label> <input name="forename"  id="forename"  class="input" value="{{forename}}" /><br/>
		<label for="surname"    class="label">Surname:   </label> <input name="surname"   id="surname"   class="input" value="{{surname}}" /><br/>
		<input type="hidden" name="fresh" id="fresh" value="false" />
		<input type="button" id="button_save" class="button" value="Save" onClick="document.getElementById('profile_edit_form').submit();" /><br/>
	</form>
	{{=application_footer.html}}
</div>
